body{
    margin:auto;
    
   }
   .container{
       /* text-align: center; */
       margin-right: 25%;
       margin-left: 25%;
       background-color:whitesmoke;
       height: 50%;
   }
header{
    height: 20%;
}


#templabel,#tempf{
    margin-left: 10px;

}
   h1{
text-align: center;
font-size: 30px;
background-color:rgb(42, 32, 178);

color:white;
}

.but{
    color:white;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 20PX;
    background-color: #008CBA;
    
    cursor:pointer;
    margin-left: 150px;


}